body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f9;
}

h1 {
    text-align: center;
    color: #1DB954;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #1DB954;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

    button:hover {
        background-color: #1ed760;
    }

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.track-info,
.playlist-info {
    display: flex;
    justify-content: space-between;
}
